* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  min-height: 100vh;
  background-color: #212121;
}

.form-container {
  position: relative;
  display: flex;
  width: 450px;
  height: 600px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  background-color: #2a2b38;
  padding: 10px 50px;
  border-radius: 30px;
  overflow: hidden;
}
.form-col {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.login-form,
.register-form {
  position: absolute;
  width: 100%;
  transition: all 0.5s ease;
  opacity: 0;
}
.login-form {
  left: 0;
  opacity: 1;
  z-index: 1;
}
.register-form {
  left: 100%;
  opacity: 0;
  z-index: 0;
}

.active {
  opacity: 1;
  z-index: 2;
  left: 0;
}
.btn-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
.btn {
  border-radius: 50px;
  padding: 8px 30px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
#login {
  background-color: #5e6681;
  color: #ffeba7;
}
#register {
  background-color: #ffeba7;
  color: #5e6681;
}

#login:hover {
  transform: scale(0.9);
}

#register:hover {
  transform: scale(0.9);
}
.form-title {
  color: white;
  font-size: 37px;
  font-weight: 800;
  padding-top: 25px;
}

.form-box {
  position: absolute;
  transform: translateX(-50);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: 0.3s;
}
.form-input {
  width: 100%;
}
.input-box {
  position: relative;
}
.inputs {
  width: 100%;
  height: 45px;
  border-radius: 50px;
  margin: 13px 0;
  border: none;
}
.input-field {
  font-size: 16px;
  padding: 0 40px 0 20px;
  background-color: #1f2029;
  outline: none;
  color: white;
}
.input-box .input-box-col {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 3%;
}
::placeholder {
  color: white;
  font-size: 15px;
}
.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 27px;
  color: #ffeba7;
}

.forgot-password a {
  display: flex;
  justify-content: end;
  padding-left: 8px;
  color: white;
  text-decoration: none;
}
.forgot-password a:hover {
  color: wheat;
}
.btn-login {
  width: 100%;
  margin: auto;
  border-radius: 50px;
  color: #5e6681;
  padding: 8px 30px;
  margin-top: 15px;
  font-size: 16px;
  background-color: #ffeba7;
  font-weight: 500;
  border: none;
  font-weight: 600;
  cursor: pointers;
  transition: 0.2s;
}
.btn-login:hover {
  background-color: #5e6681;
  color: #ffeba7;
  transform: scalex(0.9);
}
.another-login {
  display: flex;
  justify-content: center;
  margin: 17px 0;
  color: white;
  font-size: 16px;
}
.sosmed-login {
  display: flex;
  gap: 29px;
  margin-top: 25px;
}
.social-login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #5e6681;
  border-radius: 50%;
}
.social-login-box:hover {
  background-color: #ffeba7;
  transform: scale(0.8);
}

#remember-me-check {
  padding-left: 8px;
}
.remember-me label {
  color: white;
}
